{require_otp_vsn, "R15B03|R16B|R16B01|R16B02"}.

{deps, [
        {erlcloud, ".*", {git, "https://github.com/gleber/erlcloud.git", {branch, "master"}}}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            fail_on_warning,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            debug_info]}.
