{require_otp_vsn, "R15B03|R16B*|17"}.

{deps, [
        {erlcloud, ".*", {git, "https://github.com/gleber/erlcloud.git", {tag, "v0.8.0"}}}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            fail_on_warning,
            warn_export_all,
            warn_unused_import,
            warn_untyped_record,
            debug_info]}.
